<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Graph">
    {{ script | safe }}
    <title>Results</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          {{ div | safe }}
          <h4>
            <form id='inputform2' method='post' action='/' >
              <p>
                <input type='submit' value='Change stock' />
              </p>
            </form>
          </h4>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="//cdn.pydata.org/bokeh/release/bokeh-0.12.16.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>

