<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Capstone TDI">

    <title>To wine or not to whine?</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
    <title>Upload Image</title>
  <body background="https://www.allegrettovineyardresort.com/resourcefiles/homesliderleft/allegretto-vineyard.png">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">
          <h2>Wine Review</h2>
          <h4>Enter a short description of your wine. You can usually find this at the back of the bottle!</a></h3>
          <h4>
            <font color = '#94877f' />
            <form id='inputform' method='post' action='prediction' >
            <p>
              Description: <input type='text' name='description' placeholder='Full-bodied?' style='width: 300px; height:200px' />
            </p>
            
            <p> The extracted text from the image above is: <b> {{ extracted_text }} </b></p>
            <p>
              Variety: <input type='text' name='variety' placeholder='Chardonnay' />
            </p>
            <p>
              Winery: <input type='text' name='winery' placeholder='Pierre Gimonnet et Fils' />
            </p>
            <p>
              Region: <input type='text' name='province' placeholder='France' />
            </p>
            <p>
              Price: <input type='text' name='price' placeholder='65' />
            </p>
            <p>
              <input type='submit' value='Submit' />
            </p>
            </form>
          </h4>
          <h4>{{ err }}</h4>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
